body {
    text-shadow: 0 0 5px #C8C8C8;
    color:rgb(0, 8, 8);
    font-family: Inconsolata;
    font-weight: bold;
}

header{
    background: rgb(60,9,121);
    background: radial-gradient(circle, rgb(30, 3, 63) 1%, rgb(1, 0, 14) 60%);
    width: 100%;
    height: 4.2rem;
    display: flex;
}

.logo{
    height: 80%;
    margin: auto 2%;
}

.titulo{
    display: flex;
    align-items: center;
    color: #C8C8C8;
}

main {
    width: 100%;
    height: 576px;
    display: flex;
    justify-content: space-between;
    background-image: url(imagenes/tumblr_c40f10ad082a10dedbbcf9223271a4f9_6f19756a_400.webp);
    background-size: 100% 100%;
    padding: 15px 0 15px 0;
}

section{
    height: 100%;
    box-sizing: border-box;
    border-radius: 3.5%;
    opacity: 100%;
    background-color: rgba(52, 0, 77, 10%);
    border: 2px solid rgba(31, 0, 49, 100%);
}

.entrada{
    margin-left: 2%;
    width: 60%;
    padding: 2.5%;
}

.area{
    width: 100%;
    height: 80%;
    font-family: Inconsolata;
    font-size:1.6rem;
    font-weight: bold;
    text-shadow: 0 0 5px #C8C8C8;
    border: none;
    background-color: transparent;
    resize: none;
    opacity: 100%;
    color: #C8C8C8;
}

.area:focus{
    outline: none;
    caret-color: #C8C8C8;
}

.advertencia{
    font-size: 0.8rem;
    padding-left: 6%;
    height: 5%;
    margin: 2% 0;
    color: #C8C8C8;
}

.botones{
    display: flex;
    justify-content:space-around;
    box-sizing: border-box;
    align-items: center;
    height: 15%;
    opacity: 100%;
}

#encriptar, #desencriptar{
    width: 40%;
}

.salida {
    margin-right: 2%;
    width: 30%;
    border-radius: 3.5%;
    padding: 2.5%;
    box-sizing: border-box;
    overflow: hidden;
}

.salida div {
    box-sizing: border-box;
}

.imagen_echo{
    padding-top: 10%;
    width: 100%;
    height: 60%;
    overflow: hidden;
    text-align: center;
}

.imagen_echo img{
    width: 90%;
    height: 100%;
    border-radius: 10%;
    opacity: 85%;
}

.subtexto{
    height: 20%;
    text-align: center;
    padding-top: 3%;
    font-size: 1.4rem;
    color: #C8C8C8;
}

.ingresarmsg{
    height: 20%;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 2rem;
    color: #C8C8C8;
}

.contenedor_resultado{
    width: 100%;
    height: 85%;
    margin-bottom: 12.5%;
    font-size: large;
    color: #C8C8C8;
}

.boton_copiar{
    display: flex;
    justify-content:center;
    box-sizing: border-box;
    align-items: center;
    height: 13%;
}

#copiar{
    width: 70%;
}

footer {
    background: radial-gradient(circle, rgb(30, 3, 63) 1%, rgb(1, 0, 14) 60%);
    width: 100%;
    height: 4.2rem;
    color: #C8C8C8;
    display: flex;
    align-items: center;
}

.footer{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.referencia{
    display: block;
}

ul{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

ul li{
    margin: 2px;
}

ul li img:hover{
    transform: scale(1.20);
}

.glass{
    background: linear-gradient(135deg, rgba(52, 0, 77, 0.18), rgba(52, 0, 77, 0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0, 0.37);
}

/* clase para ocultar elementos */
.ocultar{
    display: none;
}
/* clase para ocultar elementos */

/* responsividad */

@media screen and (max-width:760px){

    header{
        display: block;
        height: auto;
        padding: 2% 0;
        width: 100%;
        text-align: center;
    }

    .titulo{
        margin-top: 5px;
        display: block;
    }

    main{
        display: block;
        height: auto;
        width: 100%;
        text-align: center;
    }

    .entrada{
        height: 840px;
        width: auto;
        margin: 0 2% 10px 2%;
        box-sizing: border-box;
    }
    
    .area{
        width: 100%;
        height: 75%;
        font-size:1.3rem;
    }

    .advertencia{
        padding-left: 0%;
        width: 100%;
        font-size: small;
    }

    .botones{
        display: block;
        width: auto;
        height: 10%;
        font-size:xx-small;
        align-items: center;
        text-align: center;
    }

    .ui-btn{
        margin: 10px auto;
    }

    #desencriptar, #encriptar{
        width: 70%;
    }

    .salida{
        width: auto;
        height: 500px;
        box-sizing: border-box;
        overflow: hidden;
        margin: 0 2% 0 2%;
    }

    .imagen_echo{
        padding-top: 2%;
    }

    .contenedor_resultado{
        margin-bottom: 10px;
    }

    .boton_copiar{
        height: 10%;
    }

    footer{
        height: auto;
        padding: 2% 0;
    }

}